.budget-route {
  background-color: #eaebed;
  padding: 0px 20px 0px 120px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pie-chart {
  height: 300px;
  width: 300px;
  background-color: #67597a;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 15%;
}

.budget-amounts {
  height: 175px;
  width: 300px;
  padding: 0 0 15px 0;
  background-color: #a4b8c4;
  text-align: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  position: relative;
}

.weekly-budget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.amount {
  font-size: 22px;
}

.budget-edit {
  position: absolute;
  bottom: 10px;
  left: 45%;
}

.line-graph {
  height: 300px;
  width: 350px;
  background-color: #67597a;
  color: white;
  border-radius: 15%;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.bottom-section {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.expense-section {
  height: 450px;
  width: 60%;
  background-color: #67597a;
  padding: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 25px;
}

.add-form {
  height: 80%;
  width: 35%;
  background-color: #3a606e;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 20px;
  position: relative;
}

.add-form-buttons {
  display: flex;
  /* flex-direction: column; */
}

/* .select-cat {
  height: 25px;
  width: 100%;
  font-size: 12px;
  background-color: #2f323a;
  color: white;
  border: 0;
  padding: 5px 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.selector {
  margin: 5px;
}

.cat-expanded {
  height: auto;
} */

.expense-view {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.expense-viewer {
  height: 100%;
  width: 63%;
  overflow: auto;
}

.expenses {
  height: 60px;
  width: 95%;
  background-color: #01a7c2;
  border-radius: 8px 20px;
  margin: 10px auto;
  padding: 5px 40px 5px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-section{
  position: absolute;
  right: 10px;
}

.expense-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bud-button{
  height: 20px;
  width: 20px;
}