.expense-section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 10px;
  padding-top: 95px;
  display: flex;
  justify-content: space-around;
  background-color: #EBDCF9;
}

.expense-left {
  height: 95%;
  width: 30%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.new-recure {
  height: 175px;
  width: 250px;
  padding: 5px 10px;
  /* margin: 5px 15px; */
  border-radius: 10px;
  background-color: #987DC1;
  /* font: medium;
  font-weight: 400; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.new-recurring-button-div {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
}

.recurring {
  margin: 10px 5px;
  height: 65%;
  /* width: 25%; */
  display: flex;
  /* flex-direction: column; */
  /* align-content: flex-start; */
  justify-content: flex-start;
  flex-wrap: wrap;
}

.recurring-displays {
  height: 200px;
  width: 160px;
  padding: 15px;
  margin: 10px 15px;
  border-radius: 10px;
  background-color: #987DC1;
}

.recure {
  font: medium;
  font-weight: 400;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recurring-button-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.recure-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.new-expense {
  height: 300px;
  width: 200px;
  background-color: #987DC1;
  color: white;
  padding: 0 20px;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 20px;
}

.expense-right {
  height: 97%;
  width: 70%;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modify-expenses {
  background-color: #663399;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 7.5px;
  margin: 0px 10px 10px;
  z-index: 4;
}

.modify-expense-buttons {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.expense-filter {
  height: 35px;
  margin: 5px 0px;
  padding: 5px 0px;
  width: 100%;
  /* background-color: powderblue; */
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  overflow: visible;
}

.expense-category-dropdown{
  z-index: 6;
}

.expenses-view {
  height: 475px;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #23277A;
  /* box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26); */
  overflow: auto;
}

.remove {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.arrow {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.down-arrow {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  transform: rotate(180deg);
}

.expenses {
  height: 45px;
  width: 100%;
  border-radius: 0px 0px 10px 0px;
  padding: 5px 15px 5px 15px;
  position: relative;
  margin: auto;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-name {
  width: 35%;
}

.expense-category {
  width: 30%;
}

.expense-date{
  width: 20%;
}

.expense-amount {
  width: 15%;
  text-align: right;
}

.load-more-button {
  margin: 10px 10px;
}

.null {
  display: none;
}

.close {
  margin: 3px;
  height: 10px;
  width: 10px;
}