.savings {
  margin-top: 80px;
  height: 85vh;
  width: 100vw;
  background-color: powderblue;
}

.overall-savings {
  height: 30%;
  width: 45%;
  margin: 25px;
  background-color: purple;
}

.goals {
  height: 85vh;
  width: 45%;
  position: absolute;
  top: 80px;
  right: 0px;
  background-color: orange;
}

.savings-goal {
  height: 150px;
  width: 170px;
  background-color: blue;
}

.accounts {
  height: 45%;
  width: 45%;
  background-color: red;
}