.pie-chart {
  height: 300px;
  width: 300px;
  background-color: #67597a;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  border-radius: 15%;
}