.dash {
  min-height: 100vh;
  padding: 0 20px 20px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eaebed;
}

.expense-graph {
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  background-color: #a3bac3;
}

.dash-budget-expense {
  height: 200px;
  width: 40%;
  background-color: #67597a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.budget-expenses {
  height: 40%;
  width: 85%;
  padding: 10px;
  background-color: #01a7c2;
  margin: 5px;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px 25px;
}

.dash-budget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dash-friends {
  height: 300px;
  width: 300px;
  background-color: #006989;
  color: white;
  margin: 40px 0;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recents {
  height: 375px;
  width: 35%;
  background-color: #67597a;
  margin: 0;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  padding: 10px 15px;
}

.recent-expenses {
  height: 60px;
  margin: 5px 0;
  padding: 0 25px;
  background-color: #01a7c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 10px 25px;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}

.expense-date {
  position: absolute;
  right: 125px;
}

.dash-upcoming {
  height: 225px;
  width: 25%;
  padding: 5px 10px;
  background-color: #67597a;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.next {
  height: 60px;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: #01a7c2;
  display: flex;
  justify-content: space-between;
  border-radius: 7px 25px;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}