.nav-bar {
  height: 60px;
  width: 100vw;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: #6b818c;
}

.nav-left {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-right {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prof-pic {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 20px;
}

.nav-button {
  padding: 5px;
}

/* .nav-logout {
  height: 60px;
  width: 60px;
  margin: 10px;
  position: absolute;
  right: 5px;
} */