.upper-nav {
  height: 50px;
  width: 100%;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: #6F49AB;
}

.nav-left {
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-title {
  margin-right: 20px;
}

.nav-right {
  height: 100%;
  width: auto;
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prof-pic {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 20px;
}

.nav-button {
  padding: 5px;
  margin-left: 15px;
}

.nav-button:hover {
  background-color: #B39FCC;
  color: #564276;
  border: 2.5px solid  #564276;
}

.lower-nav{
  /* background-color: teal; */
  width: 100%;
  position: fixed;
  top: 50px;
  display: flex;
  background-color: #6F49AB;
  z-index: 10;
}

.nav-lower-buttons{
  height: 30px;
  /* width: 75px; */
  margin: 0px 10px;
  padding: 5px 25px;
  border-radius: 0px 0px 10px 10px;
  text-align: middle;
  font-size: 17px;
  border: none;
  color: black;
  background-image: none;
  background-color: tomato;
}

.stuff {
  background-color: teal;
}